@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --runteq-primary: #fc7400;
  --runteq-primary-light: #ff9d4d;
  --runteq-primary-dark: #c24e00;
}

/* デバイス標準フォント。RUNTEQと同じものを使用 */
body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Hiragino Sans, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial,
    "メイリオ", Meiryo, sans-serif;
  background: #f4f9fa;
}

/* RUNTEQカラー */
.bg-runteq-primary {
  background-color: var(--runteq-primary);
}

.text-runteq-primary {
  color: var(--runteq-primary);
}

.border-runteq-primary {
  border-color: var(--runteq-primary);
}

/* RUNTEQカラー明るめ */
.bg-runteq-primary-light {
  background-color: var(--runteq-primary-light);
}

.text-runteq-primary-light {
  color: var(--runteq-primary-light);
}

.border-runteq-primary-light {
  border-color: var(--runteq-primary-light);
}

/* RUNTEQカラー暗め */
.bg-runteq-primary-dark {
  background-color: var(--runteq-primary-dark);
}

.text-runteq-primary-dark {
  color: var(--runteq-primary-dark);
}

.border-runteq-primary-dark {
  border-color: var(--runteq-primary-dark);
}

/* _headers */
/* daisyUIのクラスに上書き */
.menu li > *:not(ul, .menu-title, details, .btn):active,
.menu li > *:not(ul, .menu-title, details, .btn).active,
.menu li > details > summary:active {
  background-color: var(--runteq-primary);
  color: white;
}

/*マークダウンをtailwindで適用*/
.markdown-content h1 {
  @apply text-4xl font-bold my-4;
}

.markdown-content h2 {
  @apply text-3xl font-bold my-3;
}

.markdown-content h3 {
  @apply text-2xl font-semibold my-3;
}

.markdown-content h4 {
  @apply text-xl font-semibold my-3;
}

.markdown-content p {
  @apply my-2 text-base;
}

/* リスト、リンク、その他の要素に対しても同様にスタイルを定義 */
.markdown-content ul {
  @apply list-disc list-inside;
}

.markdown-content a {
  @apply text-blue-600 hover:text-blue-800;
}

.markdown-content strong {
  @apply font-semibold;
}

.markdown-content em {
  @apply italic;
}

.markdown-content blockquote {
  @apply p-4 italic border-l-4 bg-gray-100 text-gray-600 border-gray-500;
}

.markdown-content code {
  @apply px-2 py-1 font-mono text-sm bg-gray-200 rounded;
}

.markdown-content pre {
  @apply p-4 font-mono text-sm bg-gray-200 rounded overflow-x-auto;
}

.markdown-content hr {
  @apply my-4 border-t border-gray-300;
}

.markdown-content ol {
  @apply list-decimal list-inside;
}

.markdown-content img {
  @apply my-4 max-w-full h-auto;
}